<a href="https://colab.research.google.com/github/satyagopal-Kodukula/Python_Basics/blob/main/Basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print() Function

In [ ]:
# string
print("Hello World!")

Hello World!

In [ ]:
# Integer
print(4)

4

In [ ]:
# Float
print(89.033)

89.033

In [ ]:
print('hello',end=" ")
print("World")

hello World

DataTypes :

Basic type -- int,float,complex,boolean and string

container type -- list, tuple, sets, dictionary

user-defined types -- classes

In [ ]:
# Basic Types
# integer
print(4)
print(1e309)

# float
print(1.7e309)

# boolean
print(True)
print(False)

# Complex
print(4+5j)

# String
print("Kolkata")
print("Mumbai")
print('''Hola''')

4
inf
inf
True
False
(4+5j)
Kolkata
Mumbai
Hola

In [ ]:
# Container type
# List
print([1,2,3,4,5])

# tuple
print((1,2,3,4,5))

# Sets
print({1,2,3,4,5})

# Dictionary
print({'name':'Gopal','Age':'30'})

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'name': 'Gopal', 'Age': '30'}

Comments : A piece of code which is not excuitable by compiler or iterpreter

In [ ]:
# Comments
#  No multi-line comments bulid in python language

'\nHola \n'

Variables :

No varibale decleartion

Dyamic typing [python,php,etc]  // Static Typing [java,c,etc]

Dynamic binding

In [ ]:
# Creation of Variables
name = 'Gopal'
print(type(name))  # to check the typeof variable
print(name)

#  Special Syntax
a=3;b=4;c=10   # type-1
a,b,c = 5,6,8  # type-2
a= b= c=6      #type-3

<class 'str'>
Gopal

Keywords and Identifiers :

Keywords : A keyword is a word that is resereved by a program because it has a special meaning

Identifiers : An identifier is a name used to identify a variable,function,class,module or other object

Rules :

Can only start with a alphabit or _

followed by 0 or more letters,_ and digits

keywords cannot be an identifier

Upper and Lower case are both different

In [ ]:
# Keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Taking user Input -- input()

input would be always taken in the form of a string, so we need to do type conversion


Type Conversion :
One data type can be converted into another datatype only if possiable, No change in the originnal value[not a pariment operation]

types :
Implicit,
Explicit

In [ ]:
#  input() function
num_1=input("Enter the 1st number : ")
num_2=input("Enter the 2nd number : ")

# type conersion
# implicit
print(4+5.6)

# explicit--- int(),float(),bool(),complex(),list(),etc--all datatypes can be  used according to the logic
num_1=int(input("Enter the 1st number : "))
num_2=int(input("Enter the 2nd number : "))
result = num_1+num_2
print('The result of the givn 2 numbers is :', num_1+num_2)

The result of the givn 2 numbers is : 163

Literals :
literal means a raw data given to a variable

Types :
Numerical,String,Boolean,Special

In [ ]:
# Integer
b= 100   # Decimal
a= 0b1010101 # Binary
c= 0o305 # Octal
d= 0x1022498 # Hexa-decial

# Floats
float_1 = 908.098
float_2 = 1.5e2 #large number
float_3 = 1.6e-9  #small number

# Complex
x =3.14j
print(x.real)

0.0

In [ ]:
# Strings
string = 'Hola'
strings = "Python"
char ='c'
multi_line = """This is my coding notes"""
unicode = u"\u0001f600"
raw_string = r'Good night'
print(unicode)



# Boolean
a =True+4
b= False+1
print(a,b,sep=',')


# none
a=None
print(a)

f600
5,1
None