<a href="https://colab.research.google.com/github/satyagopal-Kodukula/Python_Basics/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples : Read-only datatype.

Does not support editing [just like strings] because immutable.

You cannot add new items to the tuples.

In [ ]:
# creation of tuples
t_1 = ()
t_2 = (1,2,3)
t_3 = (1,2,3.0,'hello')
t_4 = (1,2,3,(4,5))   #2D tuple
t_5 = ('string',)    #creation of single item in a tuple
type(t_5)
t_6 = tuple('Goa')
t_7 = tuple([1,2,3,4,5,6])

In [ ]:
# Acessing items from tuple
t_2[0]
t_2[-1]     # same as the string and lists datatypes

3

In [ ]:
#  Editing
t_2[0] = 100

# Adding
# nope

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Deletion
del t_1

# del t_2[-1]     #not possiable

NameError: name 't_1' is not defined

In [ ]:
#  Operations and Functions

# Same as list.